*{
    margin: 0px;
    padding: 0px;
}
nav{
    padding: 5px;
}
nav a{
    text-decoration:none ;
    margin-left: 75px;
    padding: 5px;
}
header{
    background-color: wheat;
    height: 30px;
    text-align: center;
}
#div{
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    border: 3px solid peachpuff;
    border-radius: 50%;
}
.box{
    height: 100px;
    width: 100px;
    background-color: teal;
    margin: 5px;
    display: inline-block;
}
#box2{
    z-index: 2;
    position: absolute;
    left: 20px;
}
#container{
    border: 3px solid peru;
    margin: 5px;
}
#box4{
    position: fixed;
    right: 20px;
}
footer{
    position: fixed;
    bottom: 0px;
    background-color: bisque;
}